button,
.btn,
.btn[href] {
  display: inline-block;
  padding: .375rem .5rem;
  font-size: $body-font-size;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
}

.btn-sm,
.btn-sm[href] {
  @include button-size(.125rem, .5rem, .75em);
}

.btn-lg,
.btn-lg[href] {
  @include button-size(.625rem, 1.25rem, 1.25em);
}

.btn-header {
  color: $white;
  background-color: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);

  &:hover,
  &:active,
  &:visited {
    color: $white;
    text-decoration: none;
    transition: .2s linear;
    }

  &:hover { background-color: rgba(255,255,255,.3); }

  &:active { background-color: rgba(255,255,255,.5); }
}


.btn-default { @include button($primary-default); }

.btn-brand { @include button($primary-brand); }

.btn-info { @include button($primary-info); }

.btn-success { @include button($primary-success); }

.btn-warning { @include button($primary-warning); }

.btn-caution { @include button($primary-caution); }

.btn-danger { @include button($primary-danger); }
