.container {
  max-width: 50rem;
  padding: 1rem;
  margin: 0 auto;
  line-height: $base-line-height;
}

.divider {
  display: block;
  max-width: 50rem;
  margin: 1rem;
  border-bottom: .1rem solid $divider-color;
}

header {
  padding: 1.5rem;
  text-align: center;

  h2 {
    font-weight: normal;
  }

  li {
    display: inline-block;
    padding: .5rem;
    vertical-align: center;
    list-style: none;
    }

}
