// Component colors
$primary-default: #d8d8d8 !default;
$primary-brand: #5762d5 !default;
$primary-info: #4ea5d9 !default;
$primary-success: #79ce80 !default;
$primary-warning: #e8e366 !default;
$primary-caution: #ff572d !default;
$primary-danger: #e03431 !default;

// Basic colors
$white: #fff !default;
$black: #000 !default;

// Font stack
$mono-font-stack: Menlo, "Lucida Console", "Roboto Mono", "Ubuntu Mono", monospace !default;
$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif !default;
$serif-font-stack: Georgia, "Times New Roman", Times, serif !default;

// Body
$body-dark-color: #f9f9f9 !default;
$body-light-color: #424c55 !default;
$body-text-color: #888 !default;
$dark-bg-color: $body-light-color !default;
$light-bg-color: $body-dark-color !default;

// Code
$code-bg-color: #f5f7f9 !default;
$code-text-color: #31a5a5 !default;
$kbd-bg-color: $black !default;
$kbd-text-color: $white !default;
$pre-text-color: $code-text-color !default;
$pre-bg-color: $code-bg-color !default;

// Tooltips
$tooltip-bg-color: #000 !default;
$tooltip-delay: .4s !default;
$tooltip-duration: .1s !default;
$tooltip-max-width: 250px !default;
$tooltip-text-color: #fff !default;
$tooltip-z-index: 1000000 !default;

// Sizing
$base-line-height: 1.5 !default;
$body-font-size: 1rem !default;
$h1-font-size: 2.25rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: $body-font-size !default;

// Shadow
$box-shadow-color: rgba(0,0,0,.3) !default;

// SVG icons
$form-checkbox-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="12.5%"><path d="M2 20 L12 28 30 3"/></svg>' !default;
$form-radio-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%"><circle cx="16" cy="16" r="14"/><path d=""/></svg>' !default;
$form-select-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentcolor" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="12.5%"><path d="M30 10 L16 26 2 10 Z"/></svg>' !default;

// Forms
$form-border-color: $primary-default !default;

// Utilities
$divider-color: #eee !default;
