// Component colors
$primary-default: #d8d8d8 !default;
$primary-brand: #5762d5 !default;
$primary-info: #4ea5d9 !default;
$primary-success: #79ce80 !default;
$primary-warning: #e8e366 !default;
$primary-caution: #ff572d !default;
$primary-danger: #e03431 !default;

// Basic colors
$white: #fff !default;
$black: #000 !default;

// Font stack
$mono-font-stack: Menlo, "Lucida Console", "Roboto Mono", "Ubuntu Mono", monospace !default;
$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif !default;
$serif-font-stack: Georgia, "Times New Roman", Times, serif !default;

// Body
$body-dark-color: #f9f9f9 !default;
$body-light-color: #424c55 !default;
$body-text-color: #888 !default;
$dark-bg-color: $body-light-color !default;
$light-bg-color: $body-dark-color !default;

// Code
$code-bg-color: #f5f7f9 !default;
$code-text-color: #92b4a7 !default;
$kbd-bg-color: $black !default;
$kbd-text-color: $white !default;
$pre-text-color: $code-text-color !default;
$pre-bg-color: $code-bg-color !default;

// Tooltips
$tooltip-bg-color: #000 !default;
$tooltip-delay: .4s !default;
$tooltip-duration: .1s !default;
$tooltip-max-width: 250px !default;
$tooltip-text-color: #fff !default;
$tooltip-z-index: 1000000 !default;

// Sizing
$body-font-size: 1em !default;
$h1-font-size: 2.25em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: $body-font-size !default;

// Spacing
$base-line-height: 1.5 !default;

// Shadow
$box-shadow-color: rgba(0,0,0,.3) !default;
